@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --default-font-size: 62.5%;
  --font-family: 'Poppins', sans-serif;
  --bg-color: #EFE8DE;
  --operation-color: #FF9500;
  --number-color: #505050;
  --calculator-bgcolor: #17181A;
  --text-color: #D4D4D2;
  --operation2-color: #D4D4D2;
  --text-secondary: #828282;
  --operation2-textcolor: #1C1C1C;

  --frame-radius: 3.9rem;
  --operation-radius: 10rem;
  --main-padding: 3.3rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: var(--default-font-size);

}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: #fff;
}

#root{
  padding: 1rem 0;
}
.wrapper {
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 428px;
  margin: auto;
  border-radius: var(--frame-radius);
  background-color: var(--calculator-bgcolor);
  height: 100%;
}

.screen {
  padding: 1rem;
  background-color: var(--number-color);
  border-radius: 1rem;
  text-align: right;
  font-size: 4rem;
  flex: .3;
  word-break: break-word;

}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  flex: .7;
}

.button {
  background-color: var(--number-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  /* border: 1px solid var(--calculator-bgcolor); */
  border-radius: var(--operation-radius);
  user-select: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--text-secondary);
}

.buttonBox .button:nth-child(4n) {
  background-color: var(--operation-color);
}


.button:nth-child(17) {
  grid-column: span 2;
}

.button:nth-child(1),
.button:nth-child(2),
.button:nth-child(3) {
  background-color: var(--operation2-color);
  color: var(--operation2-textcolor);
}